#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App {
  border-radius: 3%;
  width: 100vh;
  left: 30vh;
  color: black;
 
 
} 

.card {
  display: grid;
  height: 47vh;
  grid-auto-flow: column;
  
  border-radius: inherit;

}

